@model IEnumerable<EntityFrameWork_BaiTapLon.Entities_BaiTapLon.SinhVien>

@{
    ViewBag.Title = "SinhVien";
}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="margin-bottom:1.5em;">
            <div class="col-md-12">
                <nav class="nav navbar-expand-md">
                    <span style="margin-right:1em;">Danh sách sinh viên</span>
                    <select class="form-control form-control-sm" style="font-size:1em;">
                        <option value="k13">2017-2021</option>
                        <option value="k14">2018-2022</option>
                        <option value="k15">2019-2023</option>
                    </select>
                </nav>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th scope="row">Mã số sinh viên</th>
                    <th scope="row">Tên sinh viên</th>
                    <th scope="row">Ngày sinh</th>
                    <th scope="row">Lựa chọn</th>
                </tr>
                @foreach (var item in Model.ToList())
                {
                    <tr>
                        <td>@item.SinhVienId</td>
                        <td>@item.tenSinhVien</td>
                        <td>@item.Ngaysinh.ToShortDateString()</td>
                        <td style="font-size:1em;">
                            <form>
                                <button class="btn-info" style="width: 87px; height: 31px;">Thêm</button>
                                <button class="btn-danger" style="width: 87px; height: 31px;">Xoá</button>
                                <button class="btn-warning">Cập nhật</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>

